{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}

<div class="container-sm">
  <h1 class="mt-5">Welcome back, <span id="user-name">User</span>!</h1>
  <p class="lead">Are you available to recieve texts?</p>
  <form method="POST" action="{{ url_for('auth.toggle_available') }}">
    {{ form.hidden_tag() }}
    <input
      type="radio"
      class="btn-check"
      name="options-outlined"
      id="success-outlined"
      autocomplete="off"
      value="true"
      {%
      if
      user.available
      %}
      checked
      {%
      endif
      %}
    />
    <label class="btn btn-outline-success" for="success-outlined"
      >Available</label
    >

    <input
      type="radio"
      class="btn-check"
      name="options-outlined"
      id="danger-outlined"
      autocomplete="off"
      value="false"
      {%
      if
      not
      user.available
      %}
      checked
      {%
      endif
      %}
    />
    <label class="btn btn-outline-danger" for="danger-outlined"
      >Not Available</label
    >
    <div class="container-sm">
      <button
        type="submit"
        class="btn btn-outline-warning mt-3"
        id="send-text-button"
      >
        Confirm
      </button>
    </div>
  </form>
</div>
{% endblock %}
