{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<div class="d-flex justify-content-center rounded-5">
  <div
    class="card shadow-lg bg-secondary text-light p-4"
    style="max-width: 400px; width: 100%"
  >
    <h2 class="text-center mb-4">Login</h2>
    <form method="POST" action="{{ url_for('auth.login') }}">
      {{ form.hidden_tag() }}
      <div class="mb-3">
        <!-- prettier-ignore -->
        {{ form.name(class="form-control", id="name", placeholder="Name and Initial") }}
      </div>
      <div class="mb-3">
        <!-- prettier-ignore -->
        {{ form.phone(class="form-control", id="phone", placeholder="Phone Number") }}
      </div>
      {{ form.submit(class="btn btn-dark w-100 mb-3") }}
    </form>
    <p class="text-start">
      Or sign up <a href="{{ url_for('main.signup') }}">here</a>.
    </p>
  </div>
</div>
<script>
  var input = document.querySelector("#phone");
  if (input) {
    window.intlTelInput(input, {
      initialCountry: "us",
      utilsScript:
        "https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.1/build/js/utils.js",
    });
  }
</script>
{% endblock %}
