{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<div class="d-flex justify-content-center rounded-5">
  <div
    class="card shadow-lg bg-secondary text-light p-4"
    style="max-width: 400px; width: 100%"
  >
    <h2 class="text-center mb-4">Login</h2>
    <form method="POST" action="{{ url_for('auth.login') }}">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Enter your name"
          class="form-control"
          required
        />
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Phone Number</label>
        <input
          type="text"
          id="phone"
          name="phone"
          placeholder="+1234567890"
          class="form-control"
          required
        />
      </div>
      <button type="submit" class="btn btn-dark w-100 mb-3">Log In</button>
    </form>
  </div>
</div>
{% endblock %}
