{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}

<div class="container-sm">
  <h1>Welcome to Spiritual Matters</h1>
  <div id="firebaseui-auth-container"></div>
</div>
<script src="https://www.gstatic.com/firebasejs/10.0.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.0.0/firebase-auth-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/ui/6.1.0/firebase-ui-auth.js"></script>
<link
  type="text/css"
  rel="stylesheet"
  href="https://www.gstatic.com/firebasejs/ui/6.1.0/firebase-ui-auth.css"
/>
<script type="module">
  import { auth, setupRecaptcha } from "/static/js/firebase-init.js";
  import { GoogleAuthProvider } from "https://www.gstatic.com/firebasejs/10.0.0/firebase-auth-compat.js";
  import { signInWithPhoneNumber } from "https://www.gstatic.com/firebasejs/11.7.1/firebase-auth.js";
  // FirebaseUI config
  const uiConfig = {
    signInSuccessUrl: "/dashboard", // Redirect to dashboard on success
    signInOptions: [
      auth.GoogleAuthProvider.PROVIDER_ID,
      auth.PhoneAuthProvider.PROVIDER_ID,
    ],
    tosUrl: "/terms", // Terms of service URL
    privacyPolicyUrl: "/privacy", // Privacy policy URL
  };

  // Initialize the FirebaseUI Widget using Firebase.
  const ui = new firebaseui.auth.AuthUI(auth);
  ui.start("#firebaseui-auth-container", uiConfig);
</script>

{% endblock %}
